[Desktop Entry]
Version=1.0
Type=Application
Name=wmxres
Comment=Dockapp that changes X modes
Exec=wmxres
Categories=System
Keywords=screen;display;windowmaker
