[Desktop Entry]
Version=1.0
Type=Application
Name=wmcpuload
Comment=Dockapp that displays current CPU usage
Exec=wmcpuload
Categories=System;Monitor
Keywords=monitor;dockapp;windowmaker
